# ---------- Application ----------
# Port to expose the app on the host machine
APP_PORT=3000

# ---------- Nuxt Runtime Config ----------
# Base URL for the backend API
NUXT_PUBLIC_API_BASE=http://127.0.0.1:8000/api
